:root {
    --primary-color: #0063B1;
    --primary-hover: #0053A1;
    --primary-active: #004392;
    --text-color: #fff;
    --font-size-base: 1rem;
    --button-padding: 0.625rem 1.25rem;
    --border-radius: 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1rem;
    margin-bottom: 1rem;
}


.time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem; 
    margin-top: 1rem;
    background-color:var( --primary-color);
    color: var(--text-color);
    padding: 1rem;
    margin: 1rem auto;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}


button {
    padding: var(--button-padding);
    margin: 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: var(--font-size-base);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--primary-hover);
}

button:active {
    background-color: var(--primary-active);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color:var(--text-color) ;
    font-size: 0.875rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}